<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>View Recipe</title>
</head>
<body>
    <div id="header">
        <h1>Welcome, {{session['first_name']}}!</h1>
        <div class="links">
            <a href="/recipes">back to recipes</a>
            <a href="/logout">logout</a>
        </div>
    </div>
    <div class="title">
        <h2>{{recipe.name}}</h2>
        <h3>Posted by: {{recipe.user.first_name}}</h3>
    </div>
    <div class="recipe_box">
        <p>Description: {{recipe.description}}</p>
        <p>Under 30 Minutes?
        {% if recipe.under == 1 %}
            {{'Yes'}}</p>
        {% else  %}
            {{'No'}}</p>
        {% endif %}
        <p>Instructions: {{recipe.instructions}}</p>
        <p>Date Made: {{recipe.date_cooked}}</p>
    </div>

</body>
</html>